<%= simple_form_for @transaction, :html => {:"data-abide" => ''} do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">

  	<h1><%= @transaction.account.owner %></h1>
 	<span><%= number_to_currency(@transaction.amount, :unit => "$", :precision => 2) %></span>

  	<%= f.input :name, label: 'Description', :input_html => {:required => ""} %>
  	
  </div>

  <div class="form-actions">
     <%= f.button :submit, label: "Save Transaction", class: "success" %>
    
  </div>
<% end %>
