<h1>Listing accounts</h1>

<%= form_tag add_multiple_transactions_path, method: :get do %>
<table id="accounts">
  <thead>
    <tr>
      <th><input type="checkbox" name="selectAll" id="selectAll" /></th>
     
      <th>Owner</th>
      <th>Balance</th>
   
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tfoot>
     <th><input type="checkbox" name="selectAll" id="selectAllFooter" /></th>
      
      <th>Owner</th>
      <th>Balance</th>
   
      <th></th>
      <th></th>
  </tfoot>
  <tbody>
    <% @accounts.each do |account| %>
      <tr>
        <td><%= check_box_tag "account_ids[]", account.id %></td>
        
        <td><%= link_to account.owner, account %></td>
        <td>$<%= account.balance %></td>
        
        <td>
          <%= link_to "$5", add_transaction_path(account.id, '5'), data: {:"reveal-id" => "myModal-5", :"reveal-ajax" => "true"}, :class => "button success small"%>
         
          <%= link_to "$10", add_transaction_path(account.id, '10'), data: {:"reveal-id" => "myModal-5", :"reveal-ajax" => "true"}, :class => "button success small"%>
        
          <%= link_to "$5", add_transaction_path(account.id, '-5'), data: {:"reveal-id" => "myModal-5", :"reveal-ajax" => "true"}, :class => "button alert small"%> 
          <%= link_to "$10", add_transaction_path(account.id, '-10'), data: {:"reveal-id" => "myModal-5", :"reveal-ajax" => "true"}, :class => "button alert small"%> 
          <%= link_to "Speeding Ticket", add_transaction_with_description_path(account.id, '-25', 'Speeding Ticket'), :class => "button warning small"%> 
          <%= link_to "Other", add_other_transaction_path(account.id), data: {:"reveal-id" => "myModal-5", :"reveal-ajax" => "true"}, :class => "button small"%> 
         
         
          
        </td>
      
      </tr>
    <% end %>
  </tbody>
</table>
<%= submit_tag "Add Transaction for Selected", :class => "button small" %>
<% end %>
<div id="myModal-5" class="reveal-modal" data-reveal>
            <h2>Awesome. I have it.</h2>
            <p class="lead">Your couch.  It is mine.</p>
            <p>I'm a cool paragraph that lives inside of an even cooler modal. Wins!</p>
            <a class="close-reveal-modal">&#215;</a>
          </div>


<br>

<%= link_to 'New Account', new_account_path %>
