

 <h1><%= @account.owner %></h1>


<h2>Balance: <%= number_to_currency(@account.balance, :unit => "$", :precision => 2) %></h2>

<h3>Transactions</h3>
<table>
  <thead>
    <tr>
      <th>Date</th>
      <th>Amount</th>
      <th>Description</th>
   
     
    </tr>
  </thead>

  <tbody>
    <% @account.transactions.each do |transaction| %>
      <tr>
      	<td><%= transaction.created_at %></td>
      	 <td><%= number_to_currency(transaction.amount, :unit => "$", :precision => 2) %></td>
        <td><%= transaction.name %></td>
       
        
        
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Edit', edit_account_path(@account) %> |
<%= link_to 'Back', accounts_path %>
